################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/packages
/TestResults
/UserPayment/App_Data
/UserPayment/obj/Debug
/UserPayment/Web.Release.config
/UserPayment/Web.Debug.config
/UserPayment.Tests/obj/Debug
/UserPayment.Tests/bin/Debug
/UserPayment/bin
*.suo
*.user
/UserPayment/node_modules
/UserPayment/app/main.js.map
/UserPayment/app/app.module.js.map
/UserPayment/app/app.component.js.map
/UserPayment/app/wallet.js.map
/UserPayment/app/wallet.js
/UserPayment/app/main.js
/UserPayment/app/data.service.js.map
/UserPayment/app/data.service.js
/UserPayment/app/app.module.js
/UserPayment/app/app.component.js
