################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/packages
/TestResults
/UserPayment/App_Data
/UserPayment/obj/Debug
/UserPayment/Web.Release.config
/UserPayment/Web.Debug.config
/UserPayment.Tests/obj/Debug
/UserPayment.Tests/bin/Debug
/UserPayment/bin
/UserPayment/node_modules
*.user
*.suo
/angular-cli
/UserPayment/app/*.js
*.map
/UserPayment/Content/bootstrap-theme.min.css
/UserPayment/Content/bootstrap-theme.css
