<!--<h1>Добро пожаловать {{name}}!</h1>
<label>Введите имя:</label>
<input [(ngModel)]="name" placeholder="name">-->

<h1>Список кошельков</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>User</td>
            <td>Balance</td>            
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let w of wallets">
            <ng-template [ngIf]="wallet?.id != w.id" [ngIfElse]="edit">
                <td>{{w?.UserId}}</td>
                <td>{{w?.Balance}}</td>                
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editWallet(w)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(w)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="wallet.UserId" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="wallet.Balance" class="form-control" />
    </td>    
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>User</label>                
        <input type="text" [(ngModel)]="wallet.UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Balance</label>
        <input type="text" [(ngModel)]="wallet.Balance" class="form-control" />
    </div>    
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>