@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Cущности:</h3>
<ul>
    <li>
        Пользователь
        <ul>
            <li>логин;</li>
            <li>пароль.</li>
        </ul>
    </li>
    <li>
        Кошелёк
        <ul>
            <li>логин пользователя;</li>
            <li>баланс.</li>
        </ul>
    </li>
    <li>Счёт
        <ul>
            <li>id кошелька отправителя;</li>
            <li>
                id кошелька получателя;
            </li>
            <li>
                дата;
            </li>
            <li>
                сумма;
            </li>
            <li>
                комментарий.
            </li>
        </ul>
    </li>
</ul>
<p>Счета выставляются между кошельками. Кошельки привязаны к пользователю (как минимум один кошелёк у пользователя есть, создаётся при регистрации).
Логин у пользователя это номер телефона, для выставления счёта также используется номер телефона</p>

<h3>Реализовать:</h3>
<ul>
    <li>веб-интерфейс (по желанию можно использовать frontend framework);</li>
    <li>Счета, которые выставили текущему пользователю (список);</li>
    <li>Счета, которые выставил текущий пользователь (список);</li>
    <li>Выставить счёт (создаётся запись);</li>
    <li>Оплатить счёт (меняется статус счёта и баланс кошелька);</li>
    <li>Отказаться оплачивать счёт (меняется статус счёта).</li>
</ul>

<p>
    Статусы хранятся в таблице-справочнике в базе (Новый, Отклонен, Оплачен)<br />
    По умолчанию некий пользователь залогинен (логин и регистрацию делать не надо)<br />    
    Использовать C#, <a href="https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/first-mvc-app/search">ASP.NET MVC</a>,
    EntityFramework, SQL Server Compact.
</p>
