@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ООО "Кампэй"<br />
    Ростов-на-Дону, Седова 5<br />
    <abbr title="Phone">P:</abbr>
    8-988-533-38-03
</address>

<address>
    <strong>Support:</strong> <a href="mailto:vdmkrchkn@gmail.com">vdmkrchkn@gmail.com</a><br />    
</address>
