@model IEnumerable<UserPayment.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}

<h2>List of @ViewData["Title"]</h2>

<p>
    @Html.ActionLink("Выставить счёт", "Create")        
</p>

@using (Ajax.BeginForm(
                    actionName: "Index",
                    controllerName: "Accounts",
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = "accountList"
                    })
                   )
{    
    <div class="grid-container">
        <div class="grid-item">
            Логин отправителя:
        </div>
        <div class="">
            <input type="text" name="aSrcUserLogin">
        </div>
        <div class="col3" align="center">
            <input type="submit" value="Поиск" />
        </div>
        <div class="grid-item">            
                Логин получателя:
        </div>
        <div class="">
            <input type="text" name="aDstUserLogin">
        </div>
    </div>
}

@Html.Partial("_Accounts", Model)
