@model IEnumerable<UserPayment.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}

<h2>List of @ViewData["Title"]</h2>

<p>
    @Html.ActionLink("Выставить счёт", "Create")        
</p>

@using (Ajax.BeginForm(
        actionName: "Index",
        controllerName: "Accounts",
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "Get",
            UpdateTargetId = "accountList"
        })
       )
{
    <p>
        Логин отправителя: <input type="text" name="aSrcUserLogin">        
    </p>
    <p>
        Логин получателя: <input type="text" name="aDstUserLogin">
        <input type="submit" value="Поиск" />
    </p>
}

@Html.Partial("_Accounts", Model)
